//- mixin 사용 이유 : 각각다른 정보를 가지지만 같은 구조를 가지는 데이터를 표시하기 위해 코드를 캡슐화함, 다른 정보, 같은 구조

mixin videoBlock(video = {})
     .videoBlock
          video.videoBlock__thumbnail(src=video.videoFile, controls=true)
          h4.videoBlock__title=video.title
          h6.videoBlock__views=video.view

